.admin-header
  ul
    width: 100%

.transparent-container
    font-size: 1.5rem
    border-radius: 0.5rem
    margin: 0 auto

.applicant-profile
    display: flex

.applicant-profile-picture
    align-items: flex-start
    img
        max-width: 250px
        max-height: 250px

.applicant-profile-table
    max-width: 70%
    align-items: flex-end
