!!!
%html{lang: "en"}
%style @import url('https://fonts.googleapis.com/css?family=Poiret+One')
%nav.navbar.navbar-default
  .container-fluid
  .navbar-header
  %a.navbar-brand{href: "#"} Jade
  %ul.nav.navbar-nav
    =link_to "Login", user_github_omniauth_authorize_path, class: 'btn btn-success'
.container
  %h2 Welcome!
  %p To start please hit the login button!