!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
  %body
    %h1
      Hi #{@applicant.first_name}
    %p
      Your DRT
      %a(href="https://asystemstesting.com/?hash=#{@hash}") link is here.
