.navbar.navbar-default
  %ul.nav.navbar-nav.navbar-left
    %li= link_to 'Payment', admins_list_options_path(category: 'payment')
    %li= link_to 'Language', admins_list_options_path(category: 'english_level')
    %li= link_to 'Education', admins_list_options_path(category: 'education')
