.fluid-container.upload-form
  %h1 Upload Your CV
  - if @cv && @cv.errors.any?
    - @cv.errors.full_messages.each do |message|
      = message

  .transparent-container
    = semantic_form_for Cv.new, method: :post, local: true do |f|
      = f.file_field :cv
      = f.submit
