.container.welcome-text
  %h1 Welcome!
  - unless current_user
    %p.start-instruction To start please hit the login button!
  - if current_user.admin
    %p.start-instruction Number of unused DRT hashes: #{@drt.length}
    - if @drt.length < 5
      %p.test-text You have less than 5 DRT hashes, please create at least #{5 - @drt.length} new one(s):
      %p= link_to raw('<strong>CREATE <em>DRT HASHES</em></strong>'), admins_drts_url
