.container
  %h2 Profile
  .table-responsive.transparent-container
    %table.table
      %thead
        %tr
          %th E-mail
      %tbody
        %tr
          %td= current_user.email

          
