.container
  .table-responsive.transparent-container
    %table.table
      %thead
        %tr
          %th Applicant
          %th Interviewer
          %th Start
          %th Duration
          %th Status
