= semantic_form_for [:admins, @interview], url: admins_interview_index_path, local: true do |f|
  = f.hidden_field :applicant_id, value: @applicant_id
  = f.text_field :start, data: { provide: 'datepicker' }
  = f.submit "Add", class: 'btn btn-primary'
  