.fluid-container.upload-form
  .transparent-container
    %h1 Upload Profile Picture
    = render 'shared/error-messages', model: @profile_picture
    = render 'form', profile_picture: @profile_picture
