%ul.nav.navbar-nav.navbar-left
  %li= link_to "Payment", [:options, category: 'Payment']
  %li= link_to "English level", [:options, category: 'English level']
  %li= link_to "Education", [:options, category: 'Education'] 
