%nav.navbar.navbar-default
  .navbar-header
  = link_to "Jade", root_path, class: 'navbar-brand'
  - if current_user
    = link_to "Profile", welcome_profile_path, class: 'navbar-brand'
  %ul.nav.navbar-nav
    - if current_user
      = link_to "Logout", destroy_user_session_path, class: 'btn btn-success', method: :delete
    - else 
      = link_to "Login", user_github_omniauth_authorize_path, class: 'btn btn-success'
      
      
