.admin-header
  ul
    width: 100%

.applicant-container
    margin: 0 auto
    margin-top: 50px

.transparent-container
    font-size: 1.5rem
    border-radius: 0.5rem
    margin: 0 auto
    margin-bottom: 5rem

.applicant-profile
    display: flex
    flex-wrap: wrap

.name-picture-container
    max-width: 250px
    margin-left: 20px
    h2
        width: 100%
        text-align: center
    img
        align-content: center

.applicant-profile-picture
    img
        border-radius: 0.5rem
        max-width: 250px
        max-height: 250px
        border: 0.25rem solid white

.applicant-profile-table
    max-width: 70%
    margin-left: 5rem
    margin-top: 1.5rem
    td
        min-width: 200px


.approve-button
    margin-right: 1rem

.comment-body
    border: 1px solid grey
    border-radius: 0.5rem
    padding: 1rem
    background-color: white
    .transparent-container
        margin: 0

#new_comment
    .btn.btn-primary
        padding: 6px 12px
        font-size: 14px
    #comment_body
        width: 100%
        border-radius: 0.5rem
        padding: 0.5rem
        margin-bottom: 1rem

.interview-container
    margin: 50px
    #new_interview
        text-align: center
        .row
            display: flex
            justify-content: space-between
            margin-left: -15px
            margin-right: -15px
        .form-control
            display: inline
            width: auto
        .col-xs-1
            width: auto
            margin-left: 10px
        .btn.btn-primary
            max-width: 5rem

.drt-container
    margin: 30px
    padding: 20px
    #drt_drt_hash
        max-height: 120px  
        border-radius: 0.5rem    
    #new_drt
        text-align: center
        .btn.btn-primary
            max-width: 5rem
