.fluid-container.upload-form
  %h1 Change Your Profile Picture:
  .transparent-container
    = image_tag @profile_picture.image.url(width: 0.5)
    = render 'shared/error-messages', model: @profile_picture
    = render 'form', profile_picture: @profile_picture
    