.fluid-container.upload-form
  %h1 Upload Profile Picture
  .transparent-container
    = render 'shared/error-messages', model: @profile_picture
    = render 'form', profile_picture: @profile_picture
